.FormContainer{
    padding-top: 80px;
}

.ImageContainer {
    padding-left: 50px;
}

.Button {
    margin-top: -10px;
}

.PreviewImage {
    margin-top: 20px;
    align-content: center;
    border: 1px solid black;
    height: 300px;
    width: 400px;
}

.ButtonContainer {
    padding-top: 20px ;
    padding-left: 40px;
}