.InfoContainer{
    margin-top: 80px;
    padding: 20px 80px;
}

.InfoContainer1 {
    display: flex;
}

.InfoContainer2 {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.InfoContainer2 h6 {
    border-bottom: 1px solid black;
    padding: 5px;
}

.Button {
    margin-left: 30px;
    margin-top: -25px;
    min-width: 150px;
}

.Search {
    max-width: 250px;
}

.TableContainer {
    margin-top: 20px;
    padding: 20px 100px;
}
.Row { 
    cursor: pointer;
}

.Row td {
    font-weight: 400;
}
