.FormContainer{
    padding-top: 80px;
    padding-left: 100px;
}

.Form {
    margin-top: 30px;
}

.Phone :global .react-tel-input .form-control{
    width: 350px !important;
}

.ButtonContainer {
    margin-top: 50px;
    text-align: right;
}