.FormContainer {
    padding: 40px 80px;
}

.TableContainer {
    padding: 50px 80px;
}

.LoginContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 600px !important;
    height: 300px !important;
    padding: 50px;
    background-color: #fafafa;
    box-shadow: 0px 0px 10px rgba(21, 21, 21, 0.5);
    border-radius: 10px;
}

.OTP {
    width: 150px;
    margin-top: 25px;
}

.Header { 
    display: flex;
    justify-content: space-between
}

.Search {
    max-width: 300px;
    margin-top: -40px;
}

.LoginButton {
    width: 150px;
    margin-top: 25px;
}

.ButtonDiv a{
    color: white;
}

:global .btn-primary {
    background-color: #424770 !important;
    border-color: #424770 !important;
}

:global .btn-secondary {
    background-color: #0094D1 !important;
    border-color: #0094D1 !important;
}

:global .react-tel-input { 
    width: initial !important
}
