.BoxContainer {
    display: flex;
    justify-content: left;
    padding: 30px 80px;
}

.DetailsContainer {
    padding: 10px 120px;
}

.InfoContainer {
    display: flex;
    justify-content:space-between; 
}

.Info {
    width: 600px;
    padding-left: 15px;
}

.Photo {
    width: 180px;
    height: 180px;
    margin-top: 20px;
    margin-right: 80px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    background-color: #d6d6d6
}

.Center{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}