.TableContainer {
    padding: 10px 120px;
}

.TabContainer {
    padding-left: 30px;
}

/* .SearchContainer {
    display: flex;
    justify-content: flex-end;
    padding: 15px 30px;
}

.Search {
    max-width: 250px;
} */

.Table {
    padding: 20px;
}