.ImageContainer {
    padding-left: 50px;
}

.Button {
    margin-top: -10px;
}

.ButtonContainer {
    padding: 40px;
}

:global .btn-primary{
    background-color: #424770 !important;
    border-color: #424770 !important;
}

